WMS_Client/Web References/ZPI_PIINTF_MES_SUBCON_PURCHASE/ZPI_PIINTF_MES_SUBCON_PURCHASE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZPI_PIINTF_MES_SUBCON_PURCHASE" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZPI_PIINTF_MES_SUBCON_PURCHASE">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="I_EBELN">
              <xsd:annotation>
                <xsd:documentation>Purchasing Document Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="T_SUBCON_PURCHASE">
              <xsd:annotation>
                <xsd:documentation>MES系统读取SAP委外采购订单行项目信息</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="ZPP_S_SUBCON_PURCHASE" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZPI_PIINTF_MES_SUBCON_PURCHASE.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="E_MESSAGE" type="ZPP_S_MESSAGE">
              <xsd:annotation>
                <xsd:documentation>消息</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="T_SUBCON_PURCHASE">
              <xsd:annotation>
                <xsd:documentation>MES系统读取SAP委外采购订单行项目信息</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="ZPP_S_SUBCON_PURCHASE" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date genericDate" />
      </xsd:simpleType>
      <xsd:complexType name="ZPP_S_MESSAGE">
        <xsd:annotation>
          <xsd:documentation>消息</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:annotation>
              <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:annotation>
              <xsd:documentation>Message Text</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPP_S_SUBCON_PURCHASE">
        <xsd:annotation>
          <xsd:documentation>MES系统读取SAP委外采购订单行项目信息</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="BUKRS">
            <xsd:annotation>
              <xsd:documentation>Company Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LIFNR">
            <xsd:annotation>
              <xsd:documentation>Vendor Account Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BSART">
            <xsd:annotation>
              <xsd:documentation>Purchasing Document Type</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FRGZU">
            <xsd:annotation>
              <xsd:documentation>Release status</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EBELN">
            <xsd:annotation>
              <xsd:documentation>Purchasing Document Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EBELP">
            <xsd:annotation>
              <xsd:documentation>Item Number of Purchasing Document</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PSTYP">
            <xsd:annotation>
              <xsd:documentation>Item Category in Purchasing Document</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOEKZ">
            <xsd:annotation>
              <xsd:documentation>Deletion Indicator in Purchasing Document</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MATNR">
            <xsd:annotation>
              <xsd:documentation>Material Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LGORT">
            <xsd:annotation>
              <xsd:documentation>Storage Location</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MENGE">
            <xsd:annotation>
              <xsd:documentation>Purchase Order Quantity</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EINDT" type="date">
            <xsd:annotation>
              <xsd:documentation>Item Delivery Date</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="REVLV">
            <xsd:annotation>
              <xsd:documentation>Revision Level</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RSNUM">
            <xsd:annotation>
              <xsd:documentation>Number of Reservation/Dependent Requirement</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RSPOS">
            <xsd:annotation>
              <xsd:documentation>Item Number of Reservation/Dependent Requirement</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MATNR_SUB">
            <xsd:annotation>
              <xsd:documentation>Material Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MAKTX">
            <xsd:annotation>
              <xsd:documentation>Material Description (Short Text)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WERKS">
            <xsd:annotation>
              <xsd:documentation>Plant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LGORT_SUB">
            <xsd:annotation>
              <xsd:documentation>Storage Location</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BDMNG">
            <xsd:annotation>
              <xsd:documentation>Requirement Quantity</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BWART">
            <xsd:annotation>
              <xsd:documentation>Movement Type (Inventory Management)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZZINSMTD">
            <xsd:annotation>
              <xsd:documentation>Install Method</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SCHGT">
            <xsd:annotation>
              <xsd:documentation>Indicator: Bulk Material</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DUMPS">
            <xsd:annotation>
              <xsd:documentation>Phantom item indicator</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="KZKUP">
            <xsd:annotation>
              <xsd:documentation>Indicator: co-product</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ALPGR">
            <xsd:annotation>
              <xsd:documentation>Alternative item: group</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EWAHR">
            <xsd:annotation>
              <xsd:documentation>Usage probability in % (alternative item)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="3" />
                <xsd:fractionDigits value="0" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="XLOEK">
            <xsd:annotation>
              <xsd:documentation>Item is Deleted</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BOM_MENGE">
            <xsd:annotation>
              <xsd:documentation>Bom quantity</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="13" />
                <xsd:fractionDigits value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZPI_PIINTF_MES_SUBCON_PURCHASE.Input">
    <wsdl:part xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="parameters" element="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE" />
  </wsdl:message>
  <wsdl:message name="ZPI_PIINTF_MES_SUBCON_PURCHASE.Output">
    <wsdl:part xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="parameters" element="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE.Response" />
  </wsdl:message>
  <wsdl:portType name="ZPI_PIINTF_MES_SUBCON_PURCHASE.PortType">
    <wsdl:operation name="ZPI_PIINTF_MES_SUBCON_PURCHASE">
      <wsdl:input xmlns:rfc="urn:sap-com:document:sap:rfc:functions" message="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE.Input" />
      <wsdl:output xmlns:rfc="urn:sap-com:document:sap:rfc:functions" message="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="ZPI_PIINTF_MES_SUBCON_PURCHASE.PortTypeBinding" type="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE.PortType">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="ZPI_PIINTF_MES_SUBCON_PURCHASE">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZPI_PIINTF_MES_SUBCON_PURCHASEService">
    <wsdl:port xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="HTTP_Port" binding="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE.PortTypeBinding">
      <address location="http://sappip.freecomm-networks.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MES_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=ZPI_PIINTF_MES_SUBCON_PURCHASE&amp;interfaceNamespace=urn%3Asap-com%3Adocument%3Asap%3Arfc%3Afunctions" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="HTTPS_Port" binding="rfc:ZPI_PIINTF_MES_SUBCON_PURCHASE.PortTypeBinding">
      <address location="https://sappip.freecomm-networks.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MES_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=ZPI_PIINTF_MES_SUBCON_PURCHASE&amp;interfaceNamespace=urn%3Asap-com%3Adocument%3Asap%3Arfc%3Afunctions" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>